path {
    stroke: cornflowerblue !important;
    stroke-dasharray : 10;
    stroke-width: 2;
}

path:hover{
    stroke: crimson !important;
    pointer-events: all;
    stroke-opacity: 0.2;
    stroke-width: 10px;
}