path {
  stroke: cornflowerblue !important;
  stroke-dasharray: 10;
  stroke-width: 2;
}

path:hover {
  stroke: crimson !important;
  pointer-events: all;
  stroke-opacity: 0.2;
  stroke-width: 10px;
}
.buttonBox {
  display: flex ;
  margin: 10px ;
  margin-right: 100px;
}

.background {
  background: linear-gradient(
    180deg,
    rgb(255, 255, 255) 0px,
    rgb(255, 255, 255) 950px,
    #f3f3f3 950px,
    #f3f3f3 2000px,
    #fff 2000px,
    #fff 3200px,
    #f3f3f3 3200px,
    #f3f3f3 4850px,
    #fff 4850px,
    #fff 7100px,
    #f3f3f3 7100px,
    #f3f3f3 9050px,
    #fff 9050px,
    #fff 10850px,
    #f3f3f3 10850px,
    #f3f3f3 11950px,
    #fff 11950px
  );
}
.button-container {
  display: flex;
  justify-content: center;
}
.button-container .button-flipper {
  transition: 0.8s cubic-bezier(0.775, 0.07, 0.575, 0.995);
  transform-style: preserve-3d;
  position: absolute;
}
.button-container .button-flipper:hover {
  transform: rotateX(180deg);
}
.button-container .front-button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 2rem;
  font-size: 1em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  position: relative;
  box-shadow: 0px 8px 12px #ccc;
}
.button-container .back-button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #26C281;
  border: none;
  border-radius: 2rem;
  font-size: 1em;
  color: #fff;
  backface-visibility: hidden;
  transform: rotateX(-180deg);
  position: relative;
  box-shadow: 0px 8px 12px #ccc;
}

.button-container .vertical-button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 2rem;
  font-size: 1em;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  position: relative;
  box-shadow: 0px 8px 12px #ccc;
}

.button-container .horizontal-button {
  cursor: pointer;
  width: 150px;
  height: 40px;
  background-color: #26C281;
  border: none;
  border-radius: 2rem;
  font-size: 1em;
  color: #fff;
  position: relative;
  box-shadow: 0px 8px 12px #ccc;
}

@media screen and (max-width: 600px) {
  .button-container .front-button {
    cursor: pointer;
    width: 75px;
    height: 20px;
    background-color: cornflowerblue;
    border: none;
    border-radius: 2rem;
    font-size: 1em;
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    position: relative;
    box-shadow: 0px 8px 12px #ccc;
  }
  .button-container .back-button {
    cursor: pointer;
    width: 75px;
    height: 20px;
    background-color: #26C281;
    border: none;
    border-radius: 2rem;
    font-size: 1em;
    color: #fff;
    backface-visibility: hidden;
    transform: rotateX(-180deg);
    position: relative;
    box-shadow: 0px 8px 12px #ccc;
  }
}
.leftAlign {
  margin-left: auto;
}

.textAlign {
  text-align: center
}

.contentExplore {
    height: 950px;
    text-align: center;
  }
  .contentFocus {
    height: 1050px;
    text-align: center;
  }
  .contentImmerse {
    height: 1200px;
    text-align: center;
  }
  .contentPlan {
    height: 1650px;
    text-align: center;
  }
  .contentBuild {
    height: 2250px;
    text-align: center;
  }
  .contentStabilize {
    height: 1950px;
    text-align: center;
  }
  .contentOptimize {
    height: 1600px;
    text-align: center;
  }
  .contentHarvest {
    height: 1100px;
    text-align: center;
  }
  .contentRetier {
    height: 1450px;
    text-align: center;
  }

  .rotateDiv {
    transform-origin: 50% 0%;
    transform: translate(-50%, 50%) rotate(-90deg) scale(1);
    overflow: scroll;
    height: 100vw !important;
    width: 100vw;
  }
  .notRotate  {
    transform: none
  }

  .printHelper {
    display: flex;
    overflow-x: scroll;
  }
