@page {
  size: A4;
  margin: 0mm;
}

@media print {
  header,
  nav,
  footer {
    display: none;
  }
  .zoomCanvas {
    zoom: 1.5;
  }

  .textCanvas {
    width: 150px !important;
  } 

   .canvasFont {
    font-size: 25px !important;
    font-weight: 600 !important;
  }
  .lh {
    text-align: center;
    line-height: 110px;
  }
  .hide {
    display: none;
  }
  .toggleZoom {
    zoom: 0.405 !important
  }
}
